<cdk-accordion class="example-accordion">
  @for (item of items; track item; let index = $index) {

  <cdk-accordion-item #accordionItem="cdkAccordionItem" class="example-accordion-item">
    <button
      class="example-accordion-item-header"
      (click)="accordionItem.toggle()"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index">
      <mat-icon>{{item.icon}}</mat-icon> {{ item.name }}

      <mat-icon class="mat-icon-rtl-mirror">
        {{accordionItem.expanded ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>

    @if(accordionItem.expanded) {
    <div class="example-accordion-item-body" role="region"
      [style.display]="accordionItem.expanded ? '' : 'none'"
      [attr.id]="'accordion-body-' + index"
      [attr.aria-labelledby]="'accordion-header-' + index"
    >
      <cdk-accordion class="example-accordion">
        @for (children of item.children; track children; let index = $index) {
          <nav class="example-accordion-item-children">
            <a [routerLink]="children.url" class="link-menu">
              <mat-icon class="me-2">{{children.icon}}</mat-icon>
              {{children.name}}
            </a>
          </nav>
        }
      </cdk-accordion>
    </div>
    }
  </cdk-accordion-item>
  }
</cdk-accordion>


