:host {
  display: block;
}
.box{
  width: 350px;
  min-height: 150px;
  max-height: 800px;
  background-color: white;
  border-radius: 15px;
  padding: 20px 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.scroll-container {
  width: 325px;
  max-height: 650px;
  overflow-y: auto;
  overflow-x: hidden;
}


