

<p>chat works!</p>
<div class="container-fluid">
  <div class="row">


    <!-- CARD LEFT -->
    <material-card class="col-12 col-md-4 mb-4" title="Max" [isNeedActions] = true
                  classGeneral ="text-center"
                  classHeader="d-flex flex-column justify-content-center align-content-center w-100">
      <!-- HEADER CARD -->
      <div materialCardHeader>
          <img [src]="users()[0].img" width="150px" height="150px " class="mt-2"
          style="object-fit:cover; border-radius: 50%; object-position: top;" alt="">
          <hr>
      </div>
      <!-- BODY CARD -->
      <div materialCardBody>
        <!-- Search -->
        <material-input classInput="w-100" titleLabel="Search" inputIcon="search" (emitterTitle)="getInputSearch($event)" ></material-input>
        <!-- Card-Users -->
        @for(user of filteredUsers();track user){
          @if(user.id != 1){
            <card-users @userAnimation class="m-3 pointer" [inputUser]="user" (click)="userSelected(user)"></card-users>
          }
        }
      </div>
      <!-- ACTION CARD -->
      <div materialCardActions></div>

    </material-card>
    <!-- CARD RIGHT -->
    <chat-editor [inputUsers]="users()" [inputUserSelected]="userChatSelected()" class="col-12 col-md"></chat-editor>
  </div>
</div>
