<p>TaskList works!</p>,

<div class="container-fluid">

  <mat-card class="p-5 bg-white">
    <mat-card-header >
      <header class="d-flex justify-content-between w-100 mb-5">
        <p class="title-cards">Task List</p>
        <material-button-flat [disabled]="false" [nameButton]="nameButton" (EmmitterisClick)="clickedNewTask($event)"></material-button-flat>
      </header>
    </mat-card-header>
    <mat-card-content>

      <table class="table">
        <thead>
          <tr class="row">
            <td><h5>TO DO</h5></td>
            <!-- @for(head of headerTable;track head; ){
              <th [class]="head.col">{{head.title}}</th>
            } -->
          </tr>
        </thead>
        <tbody >
          <tr class="row">
            <td class="col-2"><mat-checkbox [checked]="task?.checked">aa</mat-checkbox></td>
            <td class="col">aa</td>
            <td class="col-2">aa</td>
            <td class="col"> aa </td>
            <td class="col-1 d-flex justify-content-between align-content-center">
              <material-icon-button nameIcon="edit" classColorIcon="white" classButton="bgOrange"></material-icon-button>
              <material-icon-button nameIcon="delete" classColorIcon="white" classButton="bgRed"></material-icon-button>
            </td>
          </tr>
          @for(task of arrayTaskToDo();track task; let i = $index ){
            <tr class="row">
              <td class="col-2"><mat-checkbox [checked]="task?.checked">{{task.title}}</mat-checkbox></td>
              <td class="col">{{task.description}}</td>
              <td class="col-2">{{task.startDate |date:'dd/MM/yyyy'}}</td>
              <td class="col">  @for(member of task.members;track member){ <mat-chip>{{member.name}}</mat-chip> &nbsp;} </td>
              <td class="col-1 d-flex justify-content-between align-content-center">
                <material-icon-button nameIcon="edit" classColorIcon="white" classButton="bgOrange" (emitterIsClicked)="editTask(task)"></material-icon-button>
                <material-icon-button nameIcon="delete" classColorIcon="white" classButton="bgRed" (emitterIsClicked)="deleteTask(task,i)"></material-icon-button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </mat-card-content>

  </mat-card>

  <br>

  <mat-card class="p-5 bg-white">
    <mat-card-content>
      <table class="table">
        <thead>
          <tr>
            <th><h5>COMPLETE</h5></th>
          </tr>
        </thead>
        <tbody >

        </tbody>
      </table>
    </mat-card-content>
  </mat-card>

</div>
