:host {
  display: block;
}
.trafic-light-red
{
  border: 3px grey solid;
  width: 20px;
  height: 20px;
  background:red;
  border-radius: 50%;
}
.trafic-light-green
{
  border: 3px grey solid;
  width: 20px;
  height: 20px;
  background:greenyellow;
  border-radius: 50%;
}
.trafic-light-orange
{
  border: 3px grey solid;
  width: 20px;
  height: 20px;
  background:orange;
  border-radius: 50%;
}

.postion-header-state-light-chat{
  position: absolute;
  right: 25px;
  top: 25px;
}

.box-chat{
  padding: 1.1rem;
  border:1px solid rgba(128, 128, 128, 0.5);
  border-radius: 12px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.box-chat-me{
  background-color: #0d6dfd3f;
  padding: 1.1rem;
  border:1px solid rgba(128, 128, 128, 0.5);
  border-radius: 12px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
