@use '@angular/material' as mat;
:host {
  display: block;
}

.mat-mdc-unelevated-button, .mat-mdc-unelevated-button .mdc-button__ripple {
  border-radius: 12px!important;
}

.bgGreen{
  background-color: rgb(24, 120, 36)!important;
  color:black;
}

.bgRed{
  background-color: rgb(255, 80, 80)!important;
}

.bgBlue
{
  background-color: cornflowerblue!Important;
}
