
  <div class="row d-flex flex-row justify-content-between">
    <div class="col">
      <p class="title-dashboard">{{infoCards()?.title}}</p>
      <div class="d-flex align-items-center">
        <button mat-flat-button class="{{infoCards()?.stateColor}}">
          <mat-icon>{{infoCards()?.state}}</mat-icon>{{infoCards()?.valueState}}% </button>
        @if(infoCards()?.rate !=0 ){
          <span class="ms-3" style="font-size: 2.5rem;">{{infoCards()?.rate}}%</span>
        }@else if (infoCards()?.value != 0) {
          <span class="ms-3" style="font-size: 2.5rem;">${{infoCards()?.value}}</span>
        }@else {
          <span class="ms-3" style="font-size: 2.5rem;">{{infoCards()?.quantity}}</span>
        }
      </div>
    </div>

  </div>

