/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
:root {
  @include mat.dialog-overrides((
    container-shape:border-radius(0)
  ));
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title-dashboard{
  font-size: 1.1rem;
  color: black;
}

.card-component{
  padding: 12px;
  height: auto;
  margin:10px 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.pointer{
  cursor: pointer;
}
.drag{
  cursor:move;
}

.iconGrey{color: grey;}
.iconRed{color: rgb(168, 44, 44)!important;}
.iconGreen{color: rgb(24, 120, 36)!important;}
.iconBlue{  background-color: rgb(64, 94, 149)!Important;}
.iconOrange{ background-color: rgb(237, 198, 100)!Important;}

.bgGreen{
  background-color: rgb(24, 120, 36)!important;
  color:black;
}

.bgRed{
  background-color: rgb(168, 44, 44)!important;
}

.bgBlue
{
  background-color: rgb(64, 94, 149)!Important;
}

.bgOrange
{
  background-color: rgb(237, 198, 100)!Important;
}
.mat-mdc-unelevated-button, .mat-mdc-unelevated-button .mdc-button__ripple {
  border-radius: 6px!important;
}


// Scroll

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(202, 202, 202, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(205, 205, 205, 0.5);
  background-color: #555;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #555 #F5F5F5;
}



.right-dialog .mat-dialog-container {
  border-radius: 0;
  padding: 0;
}

.cdk-overlay-pane.right-dialog {
  transform: translateX(100%);
  animation: slideIn 300ms forwards;
}

@keyframes slideIn {
  100% { transform: translateX(0); }
}


