<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="example-nav">
      <mat-nav-list>
        <ul>
          <li>Dashboard</li>
          <li>Components</li>
          <li>Otro</li>
        </ul>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style="background-color: #cfcfcf;">
      <div style="background-color: white;" class="mx-3 mt-3 p-5">
        <h3>HOLA</h3>
        <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur eius mollitia laudantium delectus explicabo enim ullam repudiandae ipsa ex illo rem dolor ratione, neque harum cumque perferendis illum suscipit expedita.
         </p>
      </div>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>

