:host {
  display: block;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-nav{
  max-width: 200px;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Asegúrese de que la barra de herramientas permanezca encima del contenido a medida que se desplaza. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* Cuando el menú lateral no está fijo, se estira el contenedor para que ocupe el espacio disponible. Esto hace que `<mat-sidenav-content>` actúe como nuestro elemento de desplazamiento para los diseños de escritorio. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* Cuando el menú lateral está fijo, no restrinja la altura del contenedor del menú lateral. Esto permite que
`<body>` sea nuestro elemento de desplazamiento para diseños móviles. */
  flex: 1 0 auto;
}
